SECRET_KEY=
DEBUG=True

# Database (PostgreSQL URL for Render)
DATABASE_URL=postgres://user:password@hostname:5432/dbname

# Local Database fallback (if DATABASE_URL is not provided)
DB_NAME=maramcraft_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# CORS Frontend Domain
FRONTEND_URL=https://your-frontend-url.onrender.com

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
